body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#a1b03f, #7e8a26, #697513);
    background-attachment: fixed;
    height: 100vh;
  }
  
  .container {
    width: 1000px;
    height: 1600px;
    margin: 0 auto;
    min-height: 100%;
    font-weight: bold;
    font-size: 13px;
  }
    
  /* HEADER */

  .header {
    padding: 0;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    max-height: 200px;
  }

  .header-logo-section {
    width: 45%;
    object-fit: fill;
    padding: 0;
    margin-top: 20px;
    float: left;
  }

  .login-section {
    clear: right;
    width: 100%;
  }

  .menu-button {
    font-size: 11px;
    font-weight: bold;
    color: #697513;
    padding: 8px 40px;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background: linear-gradient(#e6efae, #d6e285, #ffffff, #e6efae);
    border-bottom: 2px solid #697513; /* Bordure de 2px d'épaisseur */
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3);
  }

  .menu-button-1 {
    border-bottom-left-radius: 50px;
  }

  .menu-button-3 {
    border-bottom-right-radius: 8px;
  }
  
  .menu-button:hover {
    background-color: #697513;
    color: #ffffff;
  }
   
  .header-section { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
  }

  .header-sub-section { 
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
  }

  .login-section-img {
    border-radius: 50%; 
    width: 20px; 
    height: 20px;
  }
  
  .input-field {
    padding: 1px;
    width: 60px;
    border: 1px solid #697513;
    background-color: #788816;
    margin: 0px 5px;
    width: 80px;
    max-height: 20px;
  }

  .login-connexion-btn {
    display: flex;
    justify-content: space-around;
    
    color: #ffffff; 
    border: 1px solid #ffffff;
    border-radius: 0 50px 50px 0;
    background-color:#697513; 
    cursor: pointer;
    width: 110px;
    height: 20px;
  }

  /* MAIN */

  .box-container {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 5px;
  }

  .box-background {
    background: linear-gradient(#edebb2 , #e2df8e, #e4e090);
  }
  
  .main-body-section {  
    clear: both;
    display: flex; 
    justify-content: flex-start;
    max-height: 900px;
    width: 100%;
  }
  
  .main-font-title {
    font-size: 20px;
  }
  
  /* MAIN - LEFT */

  .main-body-left-column {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 25px;
    width: 68%; 
    margin-right: 15px;
  }

  .main-block-input-field {
    height: 16px;
    width: 100px;
    background-color: #edebb2;
    border: 1px solid #fff;
  }

  .main-body-left-column-sub {
    height: 500px;
    position: relative;
  }

  .main-body-left-column-sub-img {
    position: absolute;
    left: 0; 
    bottom:0;
    height: 126%;
    object-fit: fill; 
    border: none; 
    transform: translateY(18%);
  }

  .main-body-left-column-1 {
    height: 68%;
    margin-bottom: 20px;
  }

  .main-body-left-column-1-1-img {
    width: 230px;
    height: 100%;
    top: 0; 
    left: 0;
    float: left;
  }
  
  .main-body-left-column-1-2-img {
    border-radius: 15%; 
    width: 100px; 
    height: 10%;
  }

  .main-body-left-column-2 {
    display: flex;
    justify-content: end;
    gap: 0; 
    height: 48%;
  }

  .main-body-left-column-2-sub {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1px;
    overflow: hidden;
    align-items: center;
  }

  .main-body-left-column-2-sub-sub {
    width: 50%;
  }

  .main-body-block-3eme {
    margin-bottom:10px;
    font-size: 10px;
  }

  .body-block-3eme {
    display: inline-block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
  }

  /* MAIN - RIGHT */
  .main-body-right-column {
    width: 300px;
  }

  .main-block-right-sub-column-1 {
    background-color:#bc702e;
    text-align: right;
  }

  .main-block-right-sub-column-2 {
    margin-bottom: 10px; 
    background-color:#92b521; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }

  .main-block-right-sub-column-3 {
    background-color: #dce098;
    padding:10px;
  }

  /* FONT */
  .p-orange {
    color: #d97507; /* Couleur du titre */
  }

  .p-vert {
    color: #75901b; /* Couleur du titre */
  }

  .p-darkorange {
    color:#984b00;
  }

  .p-darkgreen {
    color:#a2915d;
  }

  .p-white {
    color:#fff;
  }

  .placeholder-x {
    color: grey;
  }
  
  /* QUIZ */
  
  #quiz-header {
    color: #b3620c;
    margin-top: 50px;
    border-radius: 10px;
    height: 150px;
  }

  #quiz-header ul {
    list-style: none;
    display: flex;
    min-height: 40px;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: left;
    align-items: center;
    text-align: center;
  }

  #quiz-header li button {
    background: linear-gradient(#edebb2 , #e2df8e, #e4e090);
    border: 0;
    cursor: pointer;
    min-height: 40px;
    font-weight: bold;
  }

  #quiz-header li:hover, #quiz-header li button:hover {
    background: #eceac5;
    height: 100%;
  }

  #quiz-container {
    margin-top: 20px;
    padding: 30px;
  }

  .quiz-btn-validate {
    background-color: #566618;
    border: 2px solid white;
    height: 40px;   
    padding: 10px 20px; 
    margin: 10px;
    border-radius:8px;
    cursor: pointer;
    color: white;   
    transition: background-color 0.3s ease;
  }

  .quiz-btn-validate:hover {
    background-color: #859d26;
  }

  #quiz-footer {
    position: absolute;
    height: 75px;
    padding: 10px;
    color: white;
  }

  #quiz-validate-btn-container { 
    background-color: #e5e08d; 
    margin-top:-10px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0px 0px 8px 8px;  /* Haut gauche, Haut droite, Bas droite, Bas gauche */   
  }


  /* QUIZ POPUP */
  
#custom-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Contenu de la popup */
#popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style du bouton Fermer */
#popup-close {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #7e8a26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#popup-close:hover {
  background-color: #45a049;
}

/* Animation d'affichage */
@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}
